
.root-pane {
    -fx-background-image: url("../images/unnamed.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.login-box {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
    -fx-padding: 20;
}

.title-label {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}


.field-label {
    -fx-font-size: 16px;
    -fx-text-fill: #555;
}


.text-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #ccc;
    -fx-border-width: 1;
    -fx-padding: 5;
}


.login-button {
    -fx-background-color: #FFD203;
    -fx-background-radius: 20;
    -fx-text-fill: #333;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.login-button:hover {
    -fx-background-color: #F9A825;
}

